site_name: 'CodeMC Documentation'
site_description: 'Official Wiki for the CodeMC Project'
site_author: 'Gabrielle C. & Andre_601'

copyright: |
  &copy; <a href="https://ci.codemc.io">CodeMC.io</a>
  
docs_dir: docs/

repo_name: CodeMC/Documentation
repo_url: https://github.com/CodeMC/Documentation

nav:
  - Welcome: index.md
  - FAQ:
    - faq/index.md
    - faq/adding-your-project.md
    - faq/non-mc-projects.md
    - faq/cannot-access-folders.md
    - faq/using-nms-repository.md
    - faq/build-jdk-8-project.md
    - faq/using-hytale-repository.md
  - Services:
    - services/index.md
    - CI:
      - services/ci/index.md
      - Git Integration:
        - services/ci/integrations/index.md
        - Setup GitHub Integration: services/ci/integrations/setup-github.md
        - Setup GitLab Integration: services/ci/integrations/setup-gitlab.md
        - Setup Gitea Integration: services/ci/integrations/setup-gitea.md
        - Setup BitBucket Integration: services/ci/integrations/setup-bitbucket.md
      - Setups:
        - Setup a Gradle Build Job: services/ci/setups/gradle-job.md
        - Setup a Maven Build Job: services/ci/setups/maven-job.md
    - Nexus:
      - services/nexus/index.md
      - Deploy to Nexus: services/nexus/deploy.md
  - Usage Guidelines: usage-guidelines.md

# Ignore /docs/jenkins/ paths. Those are the old pages that redirect to the new ones where possible.
not_in_nav: |
  /jenkins/*

theme:
  name: 'material'
  logo: 'assets/img/codemc_logo.png'
  favicon: 'assets/img/codemc_logo.png'
  palette:
    scheme: slate
    primary: cyan
    accent: blue
  features:
  - content.code.annotate
  - content.tooltips
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.sections
  - navigation.indexes
  icon:
    repo: octicons/mark-github-16
    admonition:
      note: octicons/pencil-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/light-bulb-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

extra_css:
  - 'assets/css/styling.css'

extra:
  consent:
    title: Cookie Consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our wiki and whether users find what
      they're searching for. With your consent, you're helong us to make our
      wiki better.
    actions:
      - accept
      - reject
      - manage
  social:
    - icon: 'fontawesome/brands/github'
      link: 'https://github.com/CodeMC/Documentation'
    - icon: 'fontawesome/brands/discord'
      link: 'https://discord.gg/AGcFMu6'

plugins:
  - git-revision-date-localized:
      enabled: true
      enable_creation_date: true

markdown_extensions:
  - toc:
      permalink: true
  - md_in_html
  - attr_list
  - pymdownx.superfences
  - pymdownx.magiclink:
      repo_url_shortener: true
      repo_url_shorthand: true
      social_url_shorthand: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - theme/.icons
  - pymdownx.blocks.admonition:
      types:
        - note
        - abstract
        - info
        - tip
        - success
        - question
        - warning
        - failure
        - danger
        - bug
        - example
        - quote
  - pymdownx.blocks.details
  - pymdownx.blocks.tab:
      alternate_style: true
